body {
        height: 100%;
		background-color:#808080;
      }

.option-box {
    width: 300px;
    padding: 20px;
    background: #fff;
    height: 100%;
    line-height: 35px;
    padding: 10px 10px 30px 10px;
    text-align: left;
	background-color:#808080;

}

.map-container
 {
    height: 100%;
    width: 100%;
	background-color:#808080;
}

.container {
    height: 100vh;
    display: flex;
}

h1 {
        color: #fff;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
      }

.filter-in {
    box-sizing: border-box;
    line-height: 24px;
    padding: 8px;
    width: 100%;
    font-size: 20px;
}

#map {
    height: 100%;
}

#myDIV{
	font-size:15px;
}
li{
	color:#fff;
}

a{
	color:#fff;
}
#mySidebar{
	display:none;
}